ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 131px;
}

header {
  width: 100%;
  background: #FA541C;
  line-height: 27.2px;
  position: fixed;
  z-index: 100;
  top: 0;
}

.top-bar {
  width: 1283.32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 0;
}
.top-bar > label > input {
  display: none;
  visibility: hidden;
}
.top-bar > label > .toggle {
  display: none;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 13.5px;
  left: 15px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: #FA541C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.top-bar > label > .toggle > .tge {
  position: absolute;
  height: 2px;
  width: 20px;
  background: #ddd;
  border-radius: 50px;
  transition: 0.3s ease;
}
.top-bar > label > .toggle > .tg1 {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-bar > label > .toggle > .tg2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-bar > label > .toggle > .tg3 {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-bar > label > ul {
  display: flex;
}
.top-bar > label > ul > li {
  font-size: 16px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
}
.top-bar > label > ul > li > a {
  color: #fff;
}
.top-bar > label > ul > li > span {
  color: #fff;
}
.top-bar > label > ul > li:last-child {
  margin: 0 -15px 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.top-bar > p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.top-bar_todo {
  display: none;
}

.box-header {
  background: rgb(245, 242, 242);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.header {
  width: 1280px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  width: 148.5257568359px;
  height: 31.6700248718px;
}
.header_nav {
  display: flex;
  gap: 40px;
}
.header_nav-item {
  text-transform: uppercase;
}
.header_nav-item > a {
  color: #3D3737;
  transition: 0.4s;
}
.header_nav-item > a:hover {
  color: #FA541C;
}
.header_right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_right_search {
  display: flex;
  align-items: center;
  position: relative;
  width: 215px;
  background-color: #FFF;
  border-radius: 4px;
}
.header_right_search > input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 57px;
  font-size: 10px;
  outline: none;
  border: none;
}
.header_right_search > label {
  position: absolute;
  left: 16px;
  line-height: 40px;
}
.header_right_cart {
  cursor: pointer;
  background: #fff;
  padding: 10.5px 9px;
  border-radius: 4px;
}
.header_right_book {
  cursor: pointer;
  background: #fff;
  padding: 12px 13px;
  border-radius: 4px;
}

.banner-box {
  background: #FFF1F0;
}

.banner {
  width: 1120.25px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.banner-content {
  width: 648px;
  margin: 153.98px 0;
}
.banner-content > h2 {
  font-size: 32px;
  font-weight: 500;
  color: #FA541C;
  padding-bottom: 24px;
}
.banner-content > p {
  font-size: 24px;
  line-height: 40.8px;
  font-weight: 400;
  color: #334155;
  padding-bottom: 24px;
}
.banner-content_name {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
}
.banner-content_name > h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.25px;
  color: #3D3737;
}
.banner-content > button {
  width: 156px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #FA541C;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}
.banner-content > button > a {
  color: #fff;
}
.banner-content > button:hover {
  opacity: 0.7;
}
.banner-image {
  margin: 40px 0;
}

.fa {
  display: block;
  background: #FAFAFA;
  font-family: "Inter";
}
.fa-box {
  width: 1120px;
  margin: 40px auto 0;
}
.fa-box-heading {
  color: #3D3737;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.66px;
  padding-bottom: 32px;
}
.fa-box-heading > span {
  border-bottom: 1px solid #334155;
}
.fa-box-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 32px;
  column-gap: 32px;
}
.fa-box-container_item {
  position: relative;
  padding: 25px 149px 50px 50px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
}
.fa-box-container_item > h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.25px;
  color: #3D3737;
  margin-bottom: 12px;
}
.fa-box-container_item > h3 > span {
  color: #334155;
  font-weight: 500;
}
.fa-box-container_item > p {
  margin-bottom: 12px;
  color: #85858A;
  line-height: 27.2px;
  font-size: 16px;
}
.fa-box-container_item_price {
  color: #3D3737 !important;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.25px;
}
.fa-box-container_item > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FA541C;
  padding: 4px 16px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  gap: 8px;
  transition: 0.5s;
}
.fa-box-container_item > button > a {
  color: #fff;
}
.fa-box-container_item > button:hover {
  opacity: 0.5;
}
.fa-box-container_item > img {
  z-index: 10;
}
.fa-box-container_item_img1, .fa-box-container_item_img4 {
  position: absolute;
  right: 1px;
  bottom: 14px;
}
.fa-box-container_item_img2 {
  position: absolute;
  right: 1px;
  bottom: 30px;
}
.fa-box-container_item_img3 {
  position: absolute;
  right: -31px;
  bottom: 0;
}
.fa-box-see {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64.5px;
  width: 100%;
  height: 1px;
  background: #FA541C;
}
.fa-box-see > button {
  background: white;
  padding: 10px 16px;
  border: 1px solid #FA541C;
  border-radius: 10px;
  font-size: 16px;
  color: #FA541C;
  position: relative;
}
.fa-box-see > button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  right: -26px;
  background: rgb(255, 255, 255);
}
.fa-box-see > button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  left: -26px;
  background: rgb(255, 255, 255);
}

.aw {
  display: block;
  background: #FAFAFA;
  font-family: "Inter";
}
.aw-box {
  width: 1120px;
  margin: 40px auto 0;
}
.aw-box-heading {
  color: #3D3737;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.66px;
  padding-bottom: 32px;
}
.aw-box-heading > span {
  border-bottom: 1px solid #334155;
}
.aw-box-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 32px;
  column-gap: 32px;
}
.aw-box-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
  gap: 10px;
}
.aw-box-container-item-img {
  width: 245px;
  height: 261px;
  padding: 8px 0 8px 6px;
}
.aw-box-container-item-content {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 8px 0;
  row-gap: 16px;
}
.aw-box-container-item-content > h3 {
  display: flex;
  justify-content: space-between;
  padding-top: 18.5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.83px;
}
.aw-box-container-item-content > h3 > span {
  color: #389E0D;
  background: #F6FFED;
  font-size: 10px;
  font-weight: 400;
}
.aw-box-container-item-content > p {
  font-size: 16px;
  line-height: 27.2px;
  font-weight: 400;
  color: #3D3737;
}
.aw-box-container-item-content > p:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 12px;
}
.aw-box-container-item-content > p:nth-child(3) > span {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #ddd;
  border-radius: 50%;
}
.aw-box-container-item-content > p:nth-child(3) > span:nth-child(2) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #304A23;
  border-radius: 50%;
}
.aw-box-container-item-content > p:nth-child(3) > span:nth-child(3) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #3D3737;
  border-radius: 50%;
}
.aw-box-container-item-content > p:nth-child(3) > span:nth-child(4) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #AF0303;
  border-radius: 50%;
}
.aw-box-container-item-content > p:nth-child(4) > span {
  color: #389E0D;
}
.aw-box-container-item-content > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aw-box-container-item-content > h4 > p {
  color: #3D3737;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.54px;
}
.aw-box-see {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64.5px;
  width: 100%;
  height: 1px;
  background: #FA541C;
}
.aw-box-see > button {
  background: white;
  padding: 10px 16px;
  border: 1px solid #FA541C;
  border-radius: 10px;
  font-size: 16px;
  color: #c73f12;
  position: relative;
}
.aw-box-see > button > a {
  color: #FA541C;
}
.aw-box-see > button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  right: -26px;
  background: rgb(255, 255, 255);
}
.aw-box-see > button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  left: -26px;
  background: rgb(255, 255, 255);
}

.im {
  display: block;
  background: #FAFAFA;
  font-family: "Inter";
}
.im-box {
  width: 1120px;
  margin: 40px auto 0;
}
.im-box-heading {
  color: #3D3737;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.66px;
  padding-bottom: 32px;
}
.im-box-heading > span {
  border-bottom: 1px solid #334155;
}
.im-box-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 32px;
  column-gap: 32px;
}
.im-box-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
  gap: 10px;
}
.im-box-container-item-img {
  width: 245px;
  height: 261px;
  padding: 8px 0 8px 6px;
}
.im-box-container-item-content {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 8px 0;
  row-gap: 16px;
}
.im-box-container-item-content > h3 {
  display: flex;
  justify-content: space-between;
  padding-top: 18.5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.83px;
}
.im-box-container-item-content > h3 > span {
  color: #389E0D;
  background: #F6FFED;
  font-size: 10px;
  font-weight: 400;
}
.im-box-container-item-content > p {
  font-size: 16px;
  line-height: 27.2px;
  font-weight: 400;
  color: #3D3737;
}
.im-box-container-item-content > p:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 12px;
}
.im-box-container-item-content > p:nth-child(3) > span {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #ddd;
  border-radius: 50%;
}
.im-box-container-item-content > p:nth-child(3) > span:nth-child(2) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #304A23;
  border-radius: 50%;
}
.im-box-container-item-content > p:nth-child(3) > span:nth-child(3) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #3D3737;
  border-radius: 50%;
}
.im-box-container-item-content > p:nth-child(3) > span:nth-child(4) {
  display: flex;
  width: 19.61px;
  height: 19.61px;
  background: #AF0303;
  border-radius: 50%;
}
.im-box-container-item-content > p:nth-child(4) > span {
  color: #389E0D;
}
.im-box-container-item-content > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.im-box-container-item-content > h4 > p {
  color: #3D3737;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.54px;
}
.im-box-see {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64.5px;
  width: 100%;
  height: 1px;
  background: #FA541C;
}
.im-box-see > button {
  background: white;
  padding: 10px 16px;
  border: 1px solid #FA541C;
  border-radius: 10px;
  font-size: 16px;
  color: #FA541C;
  position: relative;
}
.im-box-see > button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  right: -26px;
  background: rgb(255, 255, 255);
}
.im-box-see > button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  left: -26px;
  background: rgb(255, 255, 255);
}

.cart-shap {
  background: #FA541C;
}

/*# sourceMappingURL=home.css.map */
