@media screen and (max-width: 768px) {
  #toggle {
    /* display: block; */
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    top: 0;
    left: 0;
  }

  #toggle svg {
    fill: brown;
  }

  header {
    width: 100%;
    background: #fa541c;
    line-height: 27.2px;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  .top-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    position: relative;
  }
  .top-bar > label {
    display: none;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header_nav {
    display: none;
  }
  .header_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .header_right_search {
    position: absolute;
    left: 0;
  }
  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-image {
    margin: -50px 0;
  }
  .fa {
    display: block;
    background: #fafafa;
    font-family: "Inter";
  }
  .fa-box {
    width: 100%;
  }
  .fa-box-heading {
    color: #3d3737;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.66px;
    padding: 32px 20px;
  }
  .fa-box-heading > span {
    border-bottom: 1px solid #334155;
  }
  .fa-box-container {
    width: 100%;
    display: block;
  }
  .fa-box-container_item_img3 {
    position: absolute;
    right: 1px;
    bottom: 0;
  }
  .fa-box-container_item > img {
    max-width: 50%;
    z-index: 0;
  }
  .aw {
    display: block;
    background: #fafafa;
    font-family: "Inter";
  }
  .aw-box {
    width: 100%;
    margin: 40px 0 0;
  }
  .aw-box-heading {
    color: #3d3737;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.66px;
    padding: 32px 20px;
  }
  .aw-box-heading > span {
    border-bottom: 1px solid #334155;
  }
  .aw-box-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 16px;
  }
  .aw-box-container-item {
    width: 100%;
    display: flex;
    gap: 5px;
  }
  .aw-box-container-item-img {
    max-width: 100%;
    height: 100%;
    padding: 4px 0 4px 4px;
  }
  .aw-box-container-item-img > img {
    max-width: 100%;
    max-height: 100%;
  }
  .aw-box-container-item-content {
    display: flex;
    flex-direction: column;
    padding: 4px 8px 4px 0;
    row-gap: 8px;
  }
  .ft {
    margin-top: 72.5px;
    background: #fff8f6;
    padding: 24px 0;
  }
  .ft_box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
  .ft_box-go {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    cursor: pointer;
  }
  .ft_end {
    width: 100%;
  }
  .ft_end-icon {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .cart {
    background: #fafafa;
  }
  .cart_box {
    width: 100%;
    margin: 0 auto;
  }
  .cart_box-top {
    width: 100%;
    display: flex;
    padding: 0;
    padding: 0 16px;
  }
  .cart_box-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .cart_box-list-product {
    width: 100%;
    display: flex;
  }
  .cart_box-list-product-item {
    width: 100%;
  }
  .cart_box-list-product-item > input {
    cursor: pointer;
  }
  .cart_box-list-product-item-conten {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .cart_box-list-product-item-conten-sl {
    display: none;
    width: 89px;
    gap: 16px;
  }
  .cart_box-list-product-item-conten-sum {
    display: none;
  }
  .cart_box-list-product-item-conten-price {
    display: none;
  }
  .cart_box-list-product-item-conten-delete {
    cursor: pointer;
  }
  .cart_box-list-order {
    width: 100%;
  }
  .pay {
    background: #fafafa;
  }
  .pay_box {
    width: 100%;
  }
  .pay_box-main > p {
    display: flex;
  }
  .od {
    background: #fafafa;
  }
  .od_box {
    width: 100%;
  }
  .od_box > h1 {
    width: 100%;
    padding: 32px;
    border-bottom: 1px solid #dddddd;
    font-size: 24px;
    line-height: 28.25px;
    font-weight: 500;
  }
  .ctaw {
    background: #fafafa;
  }
  .ctaw_box {
    width: 100%;
    margin: 40px auto;
    display: flex;
    gap: 16px;
  }
  .ctaw_box_filter {
    display: none;
  }
  .ctaw_box_product {
    width: 100%;
    background: #fff;
  }
  .ctaw_box_product-grid {
    width: 100%;
    display: block;
  }
  .ctaw_box_product-grid-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ctaw_box_product-grid-item-content {
    padding: 12.5px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 8px;
  }
  .ctaw_box_product-grid-item-content > h3 {
    display: flex;
    line-height: 18.83px;
    gap: 67px;
  }
  .ctaw_box_product-grid-item-content > h3 > span {
    background: #f6ffed;
    color: #389e0d;
    font-size: 10px;
    line-height: 11.6px;
  }
  .ctaw_box_product-grid-item-content-color {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  .ctaw_box_product-grid-item-content-color > div {
    background: #eeeeee;
    width: 120px;
    height: 34px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 0px rgba(181, 181, 181, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.4px;
  }
  .ctaw_box_product-grid-item-content-color > div > .color {
    display: block;
    z-index: 10;
    width: 19.61px;
    height: 19.61px;
    background: red;
    border-radius: 50%;
  }
  .ctaw_box_product-grid-item-content-color > div > .color:nth-child(1) {
    background: white;
  }
  .ctaw_box_product-grid-item-content-color > div > .color:nth-child(2) {
    background: #304a23;
  }
  .ctaw_box_product-grid-item-content-color > div > .color:nth-child(3) {
    background: #3d3737;
  }
  .ctaw_box_product-grid-item-content-color > div > .color:nth-child(4) {
    background: #af0303;
  }
  .ctaw_box_product-grid-item-content > p {
    font-size: 16px;
    line-height: 27.2px;
    color: #3d3737;
  }
  .ctaw_box_product-grid-item-content > p > span {
    color: #389e0d;
  }
  .ctaw_box_product-grid-item-content-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ctaw_box_product-grid-item-content-price > p {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #3d3737;
  }
  .ctaw_box_product-page {
    width: 100%;
    height: 62px;
    margin-top: 16px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctaw_box_product-page > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .ctaw_box_product-page > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #3d3737;
  }
  .ctaw_box_product-page > ul > li:last-child,
  .ctaw_box_product-page > ul > li:first-child {
    background: #eeeeee;
    border-radius: 7px;
  }
}

/*# sourceMappingURL=mobile.css.map */
